@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
    @apply fixed z-[99999] bg-background bg-opacity-70 backdrop-blur-sm;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0, 0.1);
}

.hamburger-line {
    @apply w-[30px] h-[2px] bg-secondary block my-2;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}